* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;  
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    background-color: black;
}


header {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    background-color: black;
    padding-top: 60px;
    
}

main {
    background-color: black;
}

.main {
    display: flex;
    position: fixed; 
    width: 100vw;
    height: 600px; 
    object-fit: contain;
    background-image: url(./bilder/spotify-main.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 380px;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-style: bold;
    font-size: large;
    font-weight: bolder;
    color:  #1DB954;;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1DB954;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 92px;  
    margin-top: 50px;  
    font-weight: bolder;
}
